<h2 id="title">Welcome to The Iron Yard</h2>

{{log model}}

<p>
  {{model.name}}
</p>

<h3>{{show-temperature temperature=model.main.temp}}</h3>
{{show-temperature temperature=model.main.temp}}
{{show-temperature temperature=model.main.temp}}
{{show-temperature temperature=model.main.temp}}

<p>
  {{model.weather.firstObject.description}}
</p>
{{outlet}}
